* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;

}

.container {

    display: grid;
    grid-template-columns: 1fr 6fr 1fr;

}

a {
    target="_blank";
    color: white;
}

img {
    width: 1000px;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;
}

.box1 {
    text-align: center;
}

.button {
    position: absolute;
    margin-top: 495px;
    margin-left: 105px;
    display: inline-block;
    border-radius: 4px;
    background-color: #F81B56;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 9px;
    font-family: 'Langar', cursive;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
